[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
flask = "*"
psycopg2 = "*"
alembic = "*"
certifi = "*"
chardet = "*"
click = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
python-dateutil = "*"
python-editor = "*"
six = "*"
SQLAlchemy = "*"
urllib3 = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
