{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}
    {{ super() }}
    <h1>Enter ISBN</h1>
    <form class="text-center" action='' method='post' name='isbn_search'>
        {{ isbn_form.hidden_tag() }}
        {% for field in isbn_form %}
            {{ render_field(field) }}
        {% endfor %}
        <br>
        <div class="form-group">
          <input type='submit' name='search' class = 'btn btn-primary' value = 'Search'>
          <input type="reset" class = 'btn btn-secondary' style="padding-left: 20px; padding-right: 20px;" value="Clear">
          <div class="form-check">
                <input class="form-check-input" type="checkbox" id="alt_search_check">
                <label class="form-check-label" for="gridCheck">
                  <em>Check to search by alternate means</em>
                </label>
          </div>
        </div>

    </form>
     <hr>
    <div class="alt-search">
      <h6>These are the means that are alternate from those mentioned previously...</h6>
      <form class="form-inline" method="post" name="alt-search">
         {{ alt_form.hidden_tag() }}
            {% for field in alt_form %}
                {{ render_field(field) }}
            {% endfor %}
          <input type="submit" name="alt-search" class="btn btn-primary mb-2" value="Alt-Search" style="margin-left: 10px;">
      </form>
      <br>
      <hr>
    </div>
{% if data %}
    <table>
        <tr>
            <th style="padding-right: 50px;">Author</th>
            <th>Title</th>
        </tr>
          {% if signal == 'isbn' %}
              <tr>
                  <td style="padding-right: 50px;">
                      {{ data['book']['authors'][0]|safe }}
                  </td>
                  <td>
                    <a class="text-info" href="http://www.google.com/search?q={{data['book']['title'].replace(' ','+')}}" target="_blank">
                      {{ data['book']['title']|safe }}
                    </a>
                  </td>
              <tr>
          {% elif signal == 'author' %}
              {% for item in data['books']%}
                <tr>
                    <td style="padding-right: 50px;">
                        {{ ', '.join(item['authors'])|safe }}
                    </td>
                    <td>
                      <a class="text-info" href="http://www.google.com/search?q={{item['title'].replace(' ','+')}}" target="_blank">
                        {{ item['title']|safe }}
                      </a>
                    </td>
                </tr>
              {% endfor %}
          {% elif signal == 'kw' %}
            <td style="padding-right: 50px;">
                {{ data['book']['authors'][0]|safe }}
            </td>
            <td>
              <a class="text-info" href="http://www.google.com/search?q={{data['book']['title'].replace(' ','+')}}" target="_blank">
                {{ data['book']['title']|safe }}
              </a>
            </td>
          {% endif %}
    </table>
    <br>
    <form method='post' name='add-to-db'>
      <input type="submit" name='add' class="btn btn-secondary" value='Add'>
    </form>
{% else %}
    <h5>There are no results to display</h5>
{% endif %}
{% endblock %}
